html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #E5E5E5;
  scroll-behavior: smooth;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container {
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}
.container-big {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}
