.site-header {
  background-color: #fff;
}
.site-header__wrapper {
  position: relative;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-header__top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.site-logo {
  width: 103px;
  height: 56px;
  display: inline-block;
  margin-bottom: 16px;
}

.site-header__item  {
  text-decoration: none;
  & h4 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #272727;
    margin-bottom: 3px;
  }
  & p {
    font-size: 14px;
    line-height: 16px;
    color: #272727;
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
  }
}

.contact-box {
  display: block;
  position: relative;
}
.contact-box::before {
  width: 29px;
  height: 29px;
  margin-right: 7px;
  position: absolute;
  right: 100%;
  background-image: url(../../img/phone.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.working-table {
  display: block;
  position: relative;
}
.working-table::before {
  width: 29px;
  height: 29px;
  margin-right: 7px;
  position: absolute;
  right: 100%;
  background-image: url(../../img/clock.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.site-nav {
  width: 100%;
  position: absolute;
  background: #0055B8;
  border-radius: 5px;
  bottom: 0;
  transform: translateY(50%);
}

.nav-list {
  margin: 0;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}